.aboutSection {
    width: 100%;
    height: 80vh;

    padding: 0;
    margin: 0;
    background-color: #111111;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.descContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80vw;
    max-width: 1000px;
    height: 50vh;
    max-height: 400px;
}

.title {
    display: flex;
    width: 80%;
}

.descContainer h2, .descContainer p {
    padding: 0;
    margin: 0;
}

.descContainer p {
    margin: 0;
    padding: 0;
}

.description {
    display: flex;
    width: 80%;
    flex-direction: column;
    color: #B3B3B3;
    /* align-items: center; */
}

#topRight, #topLeft, #bottomRight, #bottomLeft {
    position: absolute;
}

#topRight {
    top: 5px;
    right: 5px;
    transform: scaleX(-1);
}

#topLeft {
    top: 5px;
    left: 5px;
}

#bottomRight {
    bottom: 5px;
    right: 5px;
    transform: scaleX(-1) scaleY(-1);
}

#bottomLeft {
    bottom: 5px;
    left: 5px;
    transform: scaleY(-1);
}

.experience {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}

.experience p {
    width: 30%;
    text-align: center;
    font-weight: 600;
}